.App-link {
  color: #61dafb;
}

.body {
  background-color:#cacaca;
}

.reviewsList {
list-style: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
font-size: large;
}

.load {
  text-align: center;
  font-size: 20px;
}

.individualReview {
  margin-bottom: 1cm;
  padding: 2%;
  border: solid;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  border-radius: 44px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  5px 5px 10px #606060,
             -5px -5px 10px #f0f0f0;
}

.individualReview:nth-child(even) {
  margin-bottom: 1cm;
  padding: 2%;
  border: solid;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  border-radius: 44px;
background: linear-gradient(145deg, #cacaca, #f2f2f2f2);
box-shadow:  5px 5px 10px #606060,
             -5px -5px 10px #f0f0f0;
}

.individualReview:hover {
  background: dimgray;
  transform: translateY(10px);
}

.header {
text-align: center;
font-size: 25px;
}

.feature {
 text-align: center;
 font-size: 20px;
}

.dropdown {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: large;
text-align: center;
}

.dropdown select {
  font-size: large;
}

.categoryNav {
  padding: 10px;
}

.categoryList {
  text-align: center;
  list-style: none;
  font-size: large;
}

.categoryList button {
  background-color:#f0f0f0;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: solid;
}

.categoryList button:hover {
background-color:lightsteelblue;
}

.categoryList li {
  width: 12%;
  display: inline-block;
  margin-right: 4px;
}

a {
  text-decoration: none ;
  color: black ; 
  font-size: large;
}
.subhead {
text-align: center;
}

.reviewImg {
  width: 200px;
}
.reviewImgs {
  width: 200px;
  height: 150px;
}

.singleReviewPage {
  text-align: center;
}

.votesSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.votesSection button {
  border: solid;
  background-color:#f0f0f0;
  cursor: pointer;
  margin: 0 10px;
  margin-right: 5%;
  margin-left: 5%;
}

.votesSection button:hover {
background-color:lightsteelblue;
}

.votesSection button:active {
  box-shadow: 0 10px #666;
  transform: translateY(7px);
}
.upvote{
  font-size: larger;
}

.downvote {
  font-size: larger;
}

.commentsList {
  list-style: none;
  width: 40%;
  display: flex;
justify-content: center;
flex-direction: column;
margin: auto;
margin-top: 50px;
}

.singleComment {
  background-color:#f0f0f0;
  border: solid black;
  margin-bottom: 20px;
  padding: 15px;
}

.commentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commentInput {
  width: 40%;
  height: 100px;
}

.commentButton {
  width: 160px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 5px;
  background-color:#f0f0f0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 1em;
  cursor: pointer;
}

.commentButton:hover { 
  background-color: lightsteelblue;
}

.commentButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.sortBy {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.orderBy {
  font-size: large;
  margin-right: 20px;
  margin-left: 20px;
  background-color:rgb(238, 235, 235);
  padding: 5px;
  width: 10%;
  border-radius: 5px;
  cursor: pointer;
  border: solid;
}

.orderBy:hover {
  background-color:lightsteelblue;
  }
  

.sortDropdown {
  font-size: large;
  background-color:#f0f0f0;
  width: 10%;
  border: solid;
}

.sortText {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-bottom: 2px;
}

.catButton {
  font-size: large;
}

.deleteComment {
  font-size: medium;
  margin-right: 20px;
  margin-left: 20px;
  background-color:rgba(181, 179, 179, 0.587);
  padding: 5px;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  border: solid;
}

.deleteComment:hover {
  background-color:lightsteelblue;
}

.deleteComment:active {
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}
  

.commentText {
  font-size: medium;
}

.commentBody {
  font-size: large;
}

.reviewBody {
  font-size: large;
}

.reviewhome {
  font-size: larger;
  text-align: center;
}